//
// PROJECT STYLES
// --------------------------------------------------

//== Bootstrap Style
//
//## Run command "gulp update-bootstrap" to update Bootstrap latest version
@import "bootstrap/bootstrap.less";

//== Vendor Styles
//
//## You need run command "gulp update-fontawesome" to use or update font-awesome latest version
@import "font-awesome/font-awesome.less";
//
// PROJECT STYLES
// --------------------------------------------------

//== Bootstrap Style
//
//## Run command "gulp update-bootstrap" to update Bootstrap latest version
@import "bootstrap/bootstrap.less";

//== Vendor Styles

//== Font UTM Avo
@font-face {
  font-family: 'UTM Avo';
  src: local('UTM Avo'), url('{@font-path}/utm_avo-webfont.woff2') format('woff2'), url('../fonts/utm_avo-webfont.woff') format('woff'), url('{@font-path}/utm_avo-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UTM Avo';
  src: local('UTM Avo'), url('../fonts/utm_avobold-webfont.woff2') format('woff2'), url('../fonts/utm_avobold-webfont.woff') format('woff'), url('../fonts/utm_avobold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'UTM Avo';
  src: local('UTM Avo'), url('../fonts/utm_avobold_italic-webfont.woff2') format('woff2'), url('../fonts/utm_avobold_italic-webfont.woff') format('woff'), url('../fonts/utm_avobold_italic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'UTM Avo';
  src: local('UTM Avo'), url('../fonts/utm_avoitalic-webfont.woff2') format('woff2'), url('../fonts/utm_avoitalic-webfont.woff') format('woff'), url('../fonts/utm_avoitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
//
//## You need run command "gulp update-fontawesome" to use or update font-awesome latest version
@import "font-awesome/font-awesome.less";

//## User Sprity you need move images to folder app/imgs/sprites/
@import "sprites/sprites.less";
@import "sprites/sprites-svg.less";

//== Your Variables and Mixins
@import "includes/variables.less";
@import "mixins/mixins.less";


//== Your Styles
@import "includes/main.less";
@import "includes/utilities.less";
@import "includes/responsive.less";
//## User Sprity you need move images to folder app/imgs/sprites/
@import "sprites/sprites.less";
@import "sprites/sprites-svg.less";

//== Your Variables and Mixins
@import "includes/variables.less";
@import "mixins/mixins.less";


//== Your Styles
@import "includes/main.less";
@import "includes/utilities.less";
@import "includes/responsive.less";