//
// TODO: Override Bootstrap Style
//==================================================

//
// TODO: Common Styles
//==================================================
body{
	font-family:@font-corbel;
	font-size:18px; 
	color:#fff;
	background-image: url(../imgs/bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;

}
h1{
	font-size:@font-size-h1;
}
h3{
	font-size:@font-size-h3;
}
*{
	transition:all ease-in-out 0.3s;
}
a{
	&:hover{
		text-decoration: none;
	}
}
.show-grid {
    margin-bottom: 15px;
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

// Init Sprites Style
// Comment of remove if you not use
.icon {
	display: inline-block;
}
[class^="icon-"] {
	display: inline-block;
	vertical-align: middle;
}

// Genarate Image Sprite
// Comment of remove if you not use
.sprites(@spritesheet-sprites);

// Genarate SVG Sprite
// Comment of remove if you not use
.retina-sprites(@retina-groups);


//
// TODO: Custom Mixin Styles
//==================================================
.gradient (@startColor: @yellow-start, @endColor: @yellow-end) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: @yellow-start, @endColor: @yellow-start) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}
.gradient-text(@start,@middle,@end){
	background: @start;
	background: -webkit-linear-gradient(@start 0%, @middle 51%, @end 100%);
	background: -moz-linear-gradient(@start 0%, @middle 51%, @end 100%);
	background: -o-linear-gradient(@start 0%, @middle 51%, @end 100%);
	background: -ms-linear-gradient(@start 0%, @middle 51%, @end 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color:transparent;
}
.gradient-bg(@start,@middle,@end){
	background: @start;
	background: -webkit-linear-gradient(left, @start 0%, @middle 51%, @end 100%);
	background: -moz-linear-gradient(left, @start 0%, @middle 51%, @end 100%);
	background: -o-linear-gradient(left, @start 0%, @middle 51%, @end 100%);
	background: -ms-linear-gradient(left, @start 0%, @middle 51%, @end 100%);
}

.dot-sep-vertical(@height){
	width:10px;
	position: relative;
	padding:15px 4.5px;
	height: @height;
	margin:0 auto 20px;
	&:before{
		content: '';
		width:10px;
		height: 10px;
		position: absolute;
		border:2px solid #fff;
		background-color: #30c5cd;
		border-radius: 50%;
		top:0;
		left:0;
	}
	&:after{
		content: '';
		width:10px;
		height: 10px;
		position: absolute;
		border:2px solid #fff;
		background-color: #30c5cd;
		border-radius: 50%;
		bottom:0;
		left:0;
	}
	.mid-dot{
		width:100%;
		height: 100%;
		background-color: #fff;
	}
}

.image-2x(@image, @width, @height, @repeat: no-repeat) {
  @filename  : ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[1]`;
  @extension : ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[2]`;
  background-image: ~`"url(../imgs/@{filename}.@{extension})"`;
  background-repeat: @repeat;
  
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: ~`"url(../imgs/@{filename}@2x.@{extension})"`;
    background-size: @width @height;
  }
}


//
// TODO: Header Style
//==================================================
#header{
	
	.navbar{
		min-height: 50px;
		background:rgba(255,255,255,0.05);
	}
	&.header-fix{
		.navbar{
			background:rgba(0,0,0,0.9);
		}
	}
}
.site-main{
	padding-top: 50px;
}
.container > .navbar-header{
	position: relative;
	width:100%;
	> a{
		position: absolute;
		left:0;
		z-index: 1;
		padding-top:18px;
	}
	.navbar-toggle{
		.icon-bar{
			background-color: #9197a3;
		}
	}
}
.container > .navbar-collapse{
	padding:0 140px 0 40px;
	text-align: center;
	position: relative;
	.navbar-main-left{
		margin:0 auto;
		float:none;
		display: inline-block;
		li{
			padding:0 24px;
			a{
				padding:15px 0 0;
				position:relative;
				font-size:16px;
				text-transform: uppercase;
				color:#fff;
				&:after{
					width:0;
					height: 1px;
					background-color: @link-color;
					bottom:-10px;
					content:'';
					position: absolute;
					left:0;
					transition:width ease-in-out 0.3s;
				}
				&:hover,&:focus{
					color:@link-color;
					&:after{width:100%;}
				}
			}
			&.active{
				a{
					color:@link-color;
					&:after{
						width:100%;
					}
					
				}
			}
		}
		
	}
	.navbar-right{
		position: absolute;
		top:0;
		right:5px;
		li{
			a{
				padding:15px 0 0 30px;
				i{
					color:rgba(255, 255, 255, 0.5);
					font-size:15px;
					&.icon-google-plus{
						font-size:13px;
					}
				}
				&:hover{
					i{
						color:rgba(255, 255, 255, 1)

					}

				}
			}
			&:last-child{
				a{
					padding-left:25px;
				}
			}
		}
		
	}
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color: transparent;
}
//
// TODO: Footer Style
//==================================================
#footer{
	padding:27px 0;
	min-height:80px;
	background-color:rgba(1,1,1,0.23);
	p{
		display: block;
		text-align: center;
		margin:0;
		font-size:16px;
		color:rgba(255,255,255,0.3);
	}

}
//
// TODO: First Section Style
//==================================================
.wrap-content{}
.first-section{
	background:url('../imgs/bg-hero.png') no-repeat center center;
	text-align: center;
	.beetech{
		margin:180px 0 60px;
		text-align: center;
		img{
			max-width: 100%;
		}
	}
	.big-slogan{
		margin:0 0 55px;
		text-transform: uppercase;
		.gradient-text(@blue-start, @blue-middle, @blue-end);
	}
}
.short-des{
	width:100%;
	max-width:510px;
	margin:0 auto 20px;
	color:rgba(255,255,255,0.6);
}
.line-sep{
	.dot-sep-vertical(130px)
}
.title-block{
	margin:0 0 20px;
	text-transform: uppercase;
	.gradient-text(@yellow-start, @yellow-middle, @yellow-end);
}

//
// TODO: MISSION Section Style
//==================================================
.mission-section{
	text-align: center;
	.short-des{
		max-width: 630px;
	}
	.line-sep{
		.dot-sep-vertical(240px)
	}
}
.mission-content{
	width:100%;
	margin:0 auto 50px;
	max-width:1000px;
	// height:531px;
	// background:url('../imgs/earth.png') no-repeat center center;
	position: relative;
	.earth{
		width:auto;
		max-width: 100%;
		margin:0 auto;
		
	}
	
	.lighten{
		max-width:180px;
		position: absolute;
		z-index: 2;
		top:-7.67%;
		left:31.63%;
		// top:-9.67%;
		// left:31.63%;
		-webkit-animation: spinreverse 10s infinite linear;
		transform-origin: center bottom;
		-moz-transform-origin: center bottom;
		-webkit-transform-origin: center bottom;
		-o-transform-origin: center bottom;
		-ms-transform-origin: center bottom;
		@-webkit-keyframes spinreverse {
		    0%  {-webkit-transform: rotate(0deg);}
		    100% {-webkit-transform: rotate(-360deg);}   
		}
	}
	.left-mission,.right-mission{
		width:30.63%;
		height:100%;
		position: absolute;
		top:0;
		left: 0;
		text-align: center;
		color:#fff;
		.item-mission{
			position: absolute;
			&:first-child{
				top:31.6%;
			}
			&:last-child{
				top:96.6%;
			}
			
		}
		h4{
			text-transform: uppercase;
			font-size:18px;
			font-weight: bold;
		}
		p{
			font-size:14px;
			margin:0;
		}
	}
	.right-mission{
		width:28.63%;
		left:auto;
		right:0;
	}
}

//
// TODO: PARTNER Section Style
//==================================================
.partner-section{
	text-align: center;
	.short-des{
		max-width: 100%;
	}
	.line-sep{
		.dot-sep-vertical(240px)
	}
}
.slide-partner{
	margin:60px 0;
	
}
.slick-track{
	display: flex;
	justify-content: center;
	align-items: center;
}
.slick-next,.slick-prev{
	width:13px;
	height:23px;
	background-size:contain;
	background-repeat: no-repeat;
	&:before{
		content: '';
	}
}
.slick-prev {
	background-image:url(../imgs/prev2x.png);
	&:hover{
		background-image:url(../imgs/prev2x.png);
		background-size:contain;
	}
}
.slick-next {
	background-image:url(../imgs/next2x.png);
	&:hover{
		background-image:url(../imgs/next2x.png);
		background-size:contain;
	}
}
.item-partner{
	padding:0 25px;
	display: flex;
	height: 100%;
	align-items: center;
    justify-content: center;

	a{
		display:block;
		width:100%;
		text-align: center;
		img{
			width:auto;
			max-width:100%;
			margin:0 auto;
		}
	}
	
}

//
// TODO: CONTACT Section Style
//==================================================
.contact-section{
	text-align: center;
	.short-des{
		max-width: 100%;
	}
	.line-sep{
		.dot-sep-vertical(240px)
	}
}
.form-inline{
	width:100%;
	max-width: 440px;
	margin:0 auto 20px;
	.form-group{
		width:100%;
		margin-bottom: 20px;
	}
	.form-control{
		width:100%;
		height:30px;
		border:1px solid #0589d7;
		line-height: 28px;
		border-radius:0;
		background-color: transparent;
		font-size:14px;
		color:rgba(255, 255, 255, 0.35);
		font-style: italic;
	}
	.edit-space{
		.col-md-6{
			padding:0;
			&:first-child{
				padding-right: 10px;
			}
			&:nth-child(2){
				padding-left: 10px;
			}
		}
	}
	textarea{
		width:100%;
		height: 120px;
		border-radius:0;
		border:1px solid #0589d7;
		background-color: transparent;
		font-size:14px;
		color:rgba(255, 255, 255, 0.35);
		font-style: italic;
		padding:6px 12px;
	}
	
}
.btn-default{
	padding:0 50px;
	height:50px;
	line-height: 50px;
	border-radius: 25px;
	.gradient-bg(@blue-start, @blue-middle, @blue-end);
	font-size:18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border:0;
	color:#fff;
	&:hover{
		color:@brand-primary;
	}
}
/**/
.up-footer-section{
	text-align: center;
	padding:45px 0 20px;
	font-size:18px;
	color:#fff;
	a{
		color:#fff;
		&:hover{
			color:@brand-primary;
		}
	}
	p{
		margin-bottom: 23px;
	}
	.line-sep{
		.dot-sep-vertical(90px)
	}
}
.icon-circles{
	width:90px;
	height:90px;
	border-radius: 50%;
	border:1px solid #154669;
	padding:13px;
	margin-bottom: 15px;
	.in-circle{
		width:100%;
		height:100%;
		border-radius: 50%;
		border:1px solid #154669;
		position: relative;
		display: flex;
		align-content:center;
		justify-content: center;
		align-items: center;

	}
}
