//
// RESPONSIVE
// --------------------------------------------------
//
// TODO: Mobile First Responsive
// -------------------------------------

// Small devices (tablets, > 768px and up)
@media screen and (min-width: @screen-sm-min) {


	// Hook Mixin Render: Small devices (tablets, 768px and up)
	.hook-screen-sm-min;
	
}

// Medium devices (desktops, > 992px and up)
@media screen and (min-width: @screen-md-min) {


	// Hook Mixin Render: Medium devices (desktops, 992px and up)
	.hook-screen-md-min;
}

// Large devices (large desktops, > 1200px and up)
@media screen and (min-width: @screen-lg-min) {


	// Hook Mixin Render: Large devices (large desktops, > 1200px and up)
	.hook-screen-lg-min;
	.container{
		width:1220px;
	}
}

// Large devices (large desktops, > 1368x and up)
@media screen and (min-width: 1368px) {
	.container{
		width:1220px;
	}
}
// TODO: Desktop First Responsive
// -------------------------------------

// Only for Medium devices and lower (<1199px)
@media screen and (max-width: @screen-md-max) {


	// Hook Mixin Render: Only for Medium devices and lower < 1199px
	.hook-screen-md-max;
	.mission-content{
		.lighten{
			max-width:180px;
			top:-7.67%;
			left:30.63%;
		}
	}
	
}

// Only for Small devices and lower (<991px)
@media screen and (max-width: @screen-sm-max) {
	.container{
		width:100%;
	}
	.form-inline{
		.edit-space{
			.col-md-6{
				padding:0;
				&:first-child{
					padding-right: 0px;
				}
				&:nth-child(2){
					padding-left: 0px;
				}
			}
		}
	}
	.slick-prev{
		left:0;
		z-index: 10;
	}
	.slick-next{
		right:0;
		z-index: 10;
	}
	.mission-content{

		.lighten{
			max-width:150px;
			top:-4.67%;
			left:28.63%;
		}
	}

	// Hook Mixin Render: Only for Small devices and lower < 991px
	.hook-screen-sm-max;
}
// Only for Small devices and lower (<767px)
@media screen and (max-width: @screen-xs-max) {


	// Hook Mixin Render: Only for Small devices and lower < 767px
	.hook-screen-xs-max;
	.container > .navbar-header{
		position: relative;
		.navbar-toggle{
			margin-right:0;
			padding:9px 0;
		}
	}
	.container > .navbar-collapse{
		padding:0 15px;
		.navbar-main-left{
			width:100%;
			li{
				text-align: left;
				width:100%;
				margin-bottom: 15px;
				padding-left:0;
				padding-right:0;
				a{
					
					display: inline-block;
				}
			}
		}
		.navbar-right{
			position: static;
			text-align: left;
			padding-left:15px;
			li{
				display: inline-block;
				a{
					padding:0 25px 0 0;

				}
				&:last-child{
					a{
						margin-left:-10px;
						padding-left:0px;
					}
				}
			}
		}
	}
	.first-section .beetech{
		margin:70px 0 20px;
	}
	.mission-content{
		width:100%;
		margin:0 auto 20px;
		max-width:100%;
		height:auto;
		background:none;
		position: relative;
		.earth,.lighten{
			display: none;
		}
		.left-mission,.right-mission{
			position: static;
			width:100%;
			.item-mission{
				position: static;
				top:auto;
				left:auto;
				
			}
			h4{
				text-transform: uppercase;
				font-size:18px;
				font-weight: bold;
			}
			p{
				font-size:14px;
				margin:0;
			}
		}
		.right-mission{
			left:auto;
			right:0;
		}
	}
}

// TODO: Special cases Responsive
// -------------------------------------
