nav(role="navigation").navbar.navbar-fixed-top
	.container
		.navbar-header
			button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="#" ).navbar-brand.top-brand 
				img(src="imgs/logo.png",srcset="imgs/logo.png 1x, imgs/logo2x.png 2x")
		.collapse.navbar-collapse.navbar-ex1-collapse
			ul.nav.navbar-nav.navbar-main-left
				li.active: a(href="#wrap-content") TRANG CHỦ                                         
				li: a(href="#mission-section") SỨ MỆNH  
				li: a(href="#partner-section") ĐỐI TÁC 
				li: a(href="#contact-section") LIÊN HỆ
			
			ul.nav.navbar-nav.navbar-right
				li
					a(href="#") 
						i.fa.fa-facebook
						//- img(src="imgs/fb.png", srcset="imgs/fb.png 1x, imgs/fb2x.png 2x")
				li
					a(href="#") 
						i.icon-google-plus
						//- img(src="imgs/Google.png", srcset="imgs/Google.png 1x, imgs/Google2x.png 2x")
				li
					a(href="#") 
						i.icon-youtube
						//- img(src="imgs/youtube.png", srcset="imgs/youtube.png 1x, imgs/youtube2x.png 2x")
					