extends layouts/layout-full.pug

block config
    - var title = 'Home Page'

block script
    script(src="js/vendor/holder.js")

block content
    .wrap-content#wrap-content
        .first-section
            .container
                .beetech
                    img(src="imgs/beetech.png", srcset="imgs/beetech.png 1x, imgs/beetech2x.png 2x")
                h1.big-slogan Where zero becomes one!
                p.short-des Chúng tôi xây dựng và phát triển các sản phẩm công nghệ hiện đại, thân thiện và hướng tới tạo giá trị thặng dư cho xã hội !
                .line-sep
                    .mid-dot
        .mission-section#mission-section
            .container
                h3.title-block Tầm nhìn và sứ mệnh
                p.short-des
                    | Công ty Cổ phần Công nghệ BeeTech với tầm nhìn trở thành 
                    br
                    | và được công nhận là công ty hàng đầu về những sản phẩm công nghệ tại Việt Nam
                .mission-content
                    img.earth(src="imgs/earth.png")
                    //- img.lighten(src="imgs/lighten4.png")
                    .left-mission
                        .item-mission
                            h4 TẦM NHÌN
                            p Tạo nên một công ty công nghệ của người Việt, khẳng định sức mạnh trí tuệ Việt
                        .item-mission
                            h4 Giá trị cốt lõi
                            p Tạo nên một công ty công nghệ của người Việt, khẳng định sức mạnh trí tuệ Việt
                    .right-mission
                        .item-mission
                            h4 SỨ mệnh
                            p Tạo ra những sản phẩm công nghệ hiện đại, thân thiện và mang lại hiệu quả cao cho xã hội.
                        .item-mission
                            h4 Triết lý
                            p Tạo ra những sản phẩm công nghệ hiện đại, thân thiện và mang lại hiệu quả cao cho xã hội.


                .line-sep
                    .mid-dot
        .partner-section#partner-section
            .container
                h3.title-block ĐỐI TÁC CỦA CHÚNG TÔI
                p.short-des
                    | Với mục đích phát triển không ngừng để đáp ứng được nhu cầu tài chính ngày càng cao của khách hàng, chúng tôi luôn chào đón những đối tác tiềm năng khác. 
                    br
                    | Vui lòng liên hệ với chúng tôi để hiểu thêm về quyền lợi và điều kiện hợp tác.
                .slide-partner
                    .item-partner
                        a(href="#") 
                            img(src="imgs/fpt.png", srcset="imgs/fpt.png 1x, imgs/fpt2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/ss.png", srcset="imgs/ss.png 1x, imgs/ss2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/viettel.png", srcset="imgs/viettel.png 1x, imgs/viettel2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/vtb.png", srcset="imgs/vtb.png 1x, imgs/vtb2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/bidv.png", srcset="imgs/bidv.png 1x, imgs/bidv2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/tech.png", srcset="imgs/tech.png 1x, imgs/tech2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/fpt.png", srcset="imgs/fpt.png 1x, imgs/fpt2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/ss.png", srcset="imgs/ss.png 1x, imgs/ss2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/viettel.png", srcset="imgs/viettel.png 1x, imgs/viettel2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/vtb.png", srcset="imgs/vtb.png 1x, imgs/vtb2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/bidv.png", srcset="imgs/bidv.png 1x, imgs/bidv2x.png 2x")
                    .item-partner
                        a(href="#") 
                            img(src="imgs/tech.png", srcset="imgs/tech.png 1x, imgs/tech2x.png 2x")
                   

                p.short-des 
                    | Trong quan hệ với các đối tác, Công ty Cổ phần Công nghệ BeeTech Việt Nam luôn thực hiện các hoạt động trên tinh thần tôn trọng lẫn nhau, hợp tác cùng có lợi và tuân thủ luật pháp Việt Nam vì sự phát triển lâu dài, vững chắc, toàn diện.
                .line-sep
                    .mid-dot
        .contact-section#contact-section
            .container
                h3.title-block Liên hệ
                p.short-des
                    | BeeTech hoan nghênh các ý kiến, câu hỏi và phản hồi của bạn. Xin vui lòng tìm thông tin đầy đủ của chúng tôi dưới đây.

                    br
                    | Chúng tôi thường trả lời trong vòng 24 giờ trong các ngày làm việc.
                form.form-inline
                    .edit-space
                        .col-md-6
                            .form-group
                                input#yourName.form-control(type="text",placeholder="Your name")
                        .col-md-6
                            .form-group
                                input#yourEmail.form-control(type="email",placeholder="Your email")

                    .form-group
                        input#Subject.form-control(type="text",placeholder="Subject")
                    .form-group
                        textarea#Content(type="text",placeholder="Massage")

                    button.btn.btn-default() SEND NOW
        .up-footer-section
            .container
                .row
                    .col-md-4
                        .icon-circles
                            .in-circle
                                img(src="imgs/icon-envelop.png", srcset="imgs/icon-envelop.png 1x, imgs/icon-envelop2x.png 2x")
                        p
                            a(href="mailto: contact@beetechvn.com") contact@beetechvn.com
                    .col-md-4
                        .icon-circles
                            .in-circle
                                img(src="imgs/icon-location.png", srcset="imgs/icon-location.png 1x, imgs/icon-location2x.png 2x")
                        p   Tầng số 05, tòa nhà Viện Dầu Khí số 167 Trung Kính, phường Yên Hòa, quận Cầu Giấy, thành phố Hà Nội, Việt Nam
                    .col-md-4
                        .icon-circles
                            .in-circle
                                img(src="imgs/icon-tel.png", srcset="imgs/icon-tel.png 1x, imgs/icon-tel2x.png 2x")
                        p(style="font-family: 'Roboto', sans-serif;")
                            a(href="tel: 0438 554 666") 0438 554 666
                .line-sep
                    .mid-dot
               
        
    

